In [1]:
!pip install -q textblob

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
from textblob import TextBlob

In [4]:
df = pd.read_csv('drive/MyDrive/bbc_sent_final.csv',encoding = 'utf-8')
df.head()

                                                text  sent
0  Psychiatrists are being urged to ask children ...     0
1  The number of adults seeking help to cope with...    -1
2  The current system of checking newborns for hi...    -1
3  Calorie-filled Easter eggs are being sold in s...    -1
4  "She is so desperate to end it all, she curren...    -1

In [8]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
def break_text(text):
  return nltk.tokenize.sent_tokenize(text)

In [10]:
df['sentences']=df.text.apply(break_text)

In [12]:
df.sentences[0]

['Psychiatrists are being urged to ask children with mental health issues how long they spend online and what they use social media for.',
 'Questions about technology should be a routine part of assessments, the Royal College of Psychiatrists says.',
 'It is concerned about how time spent online impacts on mood, sleep, diet and behaviour.',
 'The government is expected to announce plans to regulate social media companies soon.',
 "The College's advice comes as evidence grows of a possible link between harmful content or time spent online, and poor mental health.",
 "It is planning to publish a report later this year about its stance on technology use and children's mental health, which will include recommendations for parents, children and doctors.",
 'When assessing children, psychiatrists are being advised to think about:\nThe Royal College of Psychiatrists recommends that children stop using technology at least an hour before going to bed, and avoid using technology at mealtimes.',
 'This is a view echoed by the Chief Medical Officer in her recent guidance on social media.',
 'A group of MPs recently called for a tax on social media companies\' profits, saying the firms are operating in "an online wild west" and should help fund research into the links between technology use and mental illness.',
 "The government is expected to announce plans for an independent regulator which would enforce a new statutory 'duty of care' on social media companies.",
 'This comes after growing concerns about graphic online content, including material featuring suicide and self-harm.',
 'Earlier this year, the father of 14-year-old Molly Russell, who took her own life in 2017, said Instagram had "helped kill" his daughter.',
 'Dr Bernadka Dubicka, chair of the child and adolescent faculty at RCPsych, said: "Although we recognise that social media and technology are not primary drivers of mental illness in young people, we know that they are an important part of their lives and can be harmful in some situations.',
 '"As a frontline clinician, I regularly see young people who have deliberately hurt themselves after discussing self-harm techniques online.',
 '"Clinicians recognise the well-known phenomena of young people copying each other\'s harmful behaviour while on in-patient units, but it\'s even more worrying to see this replicated in the online world where audiences are so much bigger."',
 'She added: "We\'re also finding that some young people report being recommended harmful content; for example, links to websites encouraging weight loss or displaying self-harm after searching for, or clicking on, similar content just once before."',
 "Dr Dubicka said it was important to consider whether social media was affecting children and young people's mental health so that the causes of their distress could be addressed.",
 'Emma Thomas, chief executive of Young Minds, said: "Young people we work with rarely say that social media is the \'cause\' of mental health conditions, but they say it can heighten problems that they are already struggling with, adding to anxiety or making them feel worse when they compare their lives to those of other people."',
 'Claire Murdoch, national director for mental health at NHS England, said: "Social media plays a big part in everyday life for most children and young people, but it should act as a wake-up call when leading psychiatrists say online activities now need to be considered when assessing youngsters\' mental health and wellbeing."',
 'She said the NHS planned to improve access to mental health services for young people but expected social media giants to "step up to the plate".']

In [23]:
def subjectivity(text):
  return TextBlob(text).sentiment.subjectivity

In [24]:
def polarity(text):
  return TextBlob(text).sentiment.polarity

In [28]:
s = "I AM HAPPY!"
subjectivity(s)

1.0

In [45]:
def get_sub(text):
  sub = []
  for i in text:
    sub.append(subjectivity(i))
  return sum(sub) / len(text)

In [40]:
def get_pol(text):
  pol = []
  for i in text:
    pol.append(polarity(i))
  return sum(pol)

In [46]:
df['subjectivity'] = df.sentences.apply(get_sub)

In [47]:
df['polarity'] = df.sentences.apply(get_pol)

In [53]:
def label(avg_score):
  if avg_score == 0:
    return 0
  elif avg_score >0:
    return 1
  else:
    return -1

In [54]:
df["label"]=df["polarity"].apply(label)

In [60]:
df.head()

                                                text  sent  ...  polarity  label
0  Psychiatrists are being urged to ask children ...     0  ...  0.041968      1
1  The number of adults seeking help to cope with...    -1  ... -1.191439     -1
2  The current system of checking newborns for hi...    -1  ...  0.819141      1
3  Calorie-filled Easter eggs are being sold in s...    -1  ...  1.110516      1
4  "She is so desperate to end it all, she curren...    -1  ...  0.674756      1

[5 rows x 6 columns]

In [58]:
diff = df.label == df.sent

In [59]:
tb_count = 0
for i in diff:
  if i:
    tb_count += 1

tb_count

34

# Vader

In [61]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
nltk.download('vader_lexicon')
sia = SIA()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [67]:
def vader_pol(text):
  return sia.polarity_scores(text)['compound']

In [63]:
def get_vader_pol(text):
  v_pol =[]
  for i in text:
    v_pol.append(vader_pol(i))
  return sum(v_pol)

In [68]:
df['vader_pol']=df.sentences.apply(get_vader_pol)

In [70]:
df['vader_label']=df.vader_pol.apply(label)

In [71]:
df.head()

                                                text  ...  vader_label
0  Psychiatrists are being urged to ask children ...  ...           -1
1  The number of adults seeking help to cope with...  ...           -1
2  The current system of checking newborns for hi...  ...           -1
3  Calorie-filled Easter eggs are being sold in s...  ...            1
4  "She is so desperate to end it all, she curren...  ...           -1

[5 rows x 8 columns]

In [72]:
vader_diff = df['sent'] == df['vader_label']

In [73]:
v_count = 0
for i in vader_diff:
  if i:
    v_count += 1

v_count

40